.main {
  padding-top: 4em;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
}
.image {
  height: 75vh;
}

.informations {
  height: 100%;
  margin-left: 2em;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.h2 {
  font-weight: 500;
  font-size: 3em;
}
