.main {
  width: 100vw;
  padding: 4em 2em;
}

.text,
.message_sent_text,
.link {
  margin: 2em 0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_container,
.textarea_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.label {
  margin-bottom: 0.5em;
}

.textarea {
  resize: none;
}

.input,
.textarea {
  border: none;
  background-color: #fafafa;
  border: solid 1px #fafafa;
  padding: 0.5em;
  outline: none;
}

.input:focus,
.textarea:focus {
  border: solid 1px black;
}

.button {
  color: white;
  background-color: #070b0e;
  outline: none;
  border: none;
  padding: 0.7em;
  margin-top: 1.5em;
}

.button:active {
  transform: scale(0.98);
}

.link {
  width: 100%;
  font-size: 2em;
}

@media (min-width: 768px) {
  /* Tablet design */

  .main {
    padding: 0 4em;
  }

  .text {
    width: 100%;
    margin: 1.5em 0;
    font-size: 2em;
    font-weight: 600;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .input_container {
    width: 48%;
  }

  .button {
    width: 48%;
  }
}

@media (min-width: 1024px) {
  /* Laptop design */
  .main {
    padding: 0 10em;
  }

  .link {
    overflow: hidden;
    background: linear-gradient(to right, #53bf9d, #53bf9d 50%, #070b0e 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
  }

  .link:hover {
    background-position: 0 100%;
  }

  .link:active {
    transform: scale(0.98);
  }
}

@media (min-width: 1260px) {
  /* Laptop L design */
  .main {
    padding: 0 20em;
  }
}
