.main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
  overflow-y: hidden;
}

.h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.label {
  margin-bottom: 0.5em;
}

.button_label {
  color: white;
  font-size: 1em;
  margin-bottom: 1.5em;
  padding: 0.3em;
  border: solid 1px #070b0e;
  padding: 0.5em;
  cursor: pointer;
}

.input {
  background-color: #fafafa;
  border: solid 1px #fafafa;
  padding: 0.5em;
  outline: none;
  margin-bottom: 1em;
}

.input:focus {
  border: solid 1px #070b0e;
}

.button {
  color: white;
  background-color: #070b0e;
  outline: none;
  border: none;
  padding: 0.7em;
  margin-top: 1.5em;
}

.button_label:active,
.button:active {
  transform: scale(0.98);
}

.input {
  outline: none;
  border-top: none;
  border-right: none;
}

.button_label > span {
  margin-left: 0.5em;
}

.add_picture_input {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.message {
  margin-top: 1em;
  text-align: center;
}
