.main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 375px;
}

.container {
  width: 100%;
}

.img {
  max-height: 16em;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}

.informations {
  width: 100%;
  padding: 0 1em;
}

.date_and_location,
.camera,
.film,
.tags,
.button {
  width: 100%;
  border: solid 1px lightgrey;
  padding: 0.3em;
  border-top: none;
  border-right: none;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

.date_and_location,
.tags {
  display: flex;
  justify-content: space-between;
}

.tags {
  flex-wrap: wrap;
}

.button {
  color: white;
  margin-top: 2em;
}
