.header {
  padding: 1em;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
}

.logo {
  color: white;
  font-size: 2em;
  font-weight: 600;
}

.menu,
.social {
  display: none;
}

@media (min-width: 768px) {
  /* Tablet design */

  .hamburger_menu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8.25em;
  }

  .social > a {
    color: white;
  }
}
@media (min-width: 1024px) {
  /* Laptop design */

  .social > i {
    cursor: pointer;
  }

  .logo {
    overflow: hidden;
    background: linear-gradient(to right, #53bf9d, #53bf9d 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
  }

  .logo:hover {
    background-position: 0 100%;
  }

  .logo:active {
    transform: scale(0.98);
  }
}
