.main {
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: #fafafa;
  border: solid 1px #fafafa;
  padding: 0.5em;
  outline: none;
  margin-bottom: 1em;
}

.input:focus {
  border: solid 1px black;
}

.label {
  margin-bottom: 0.5em;
}

.button {
  color: white;
  background-color: #070b0e;
  outline: none;
  border: none;
  padding: 0.7em;
  margin-top: 1.5em;
}

.button:active {
  transform: scale(0.98);
}

.errorMessage {
  margin-top: 1em;
  text-align: center;
}
