* {
  background-color: black;
}

body,
input,
button {
  font-family: "Roboto Slab", serif;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

a {
  text-decoration: none;
}
