* {
  box-sizing: border-box;
  background-color: #070b0e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button {
  font-family: "Anek Malayalam", sans-serif;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

a {
  text-decoration: none;
}
